APP_ENV=development|staging|production
APP_NAME=<string>
DEBUG=True|False

VISIONCLOUD_MONGO_URI=<mongo_connection_uri>
CONTAVISION_MONGO_URI=<mongo_connection_uri>

REDIS_HOST=<host>
REDIS_PORT=<port>